<h1>Get An OUTSTANDING Logo For Your Project In Just 3 Steps <br /><span>via a pool of more than 300 Designers with us.</span> </h1>
<ol class="steps_list">
  <li>1. Compile Your Design Brief</li>
  <li>2. Review &amp; Provide Feedback</li>
  <li>3. Get A Winning Design</li>
</ol>
<%= link_to "Get Started Now", new_employer_registration_path, :class => "button" %>
<div class="clear"></div>
<br /><br />
<h1>Recent Wining Designs</h1>
<br /><br />

<%= render 'wining_gallery'%>


<div class="clear"></div>
<br /><br />
<h1>Designers Welcome !  Design &amp; Earn</h1><br />
<%= link_to "Sign Up For Free", new_designer_registration_path, :class => "button" %>
<div class="clear"></div>
<hr />
<h1>Statistics</h1>
<ol class="steps_list">
  <li>	&#x2714; <b><%= @designers %></b> Designers</li>
  <li>	&#x2714; <b><%= @open_project_size %></b> Open Projects</li>
  <li>	&#x2714; <b>$<%= @total_open_offer %></b> Currently On Offer</li>
  <li>	&#x2714; <b>$<%= @payout %></b> Total Payouts</li>
</ol>

