<% if @project.employer == current_employer && @project.project_type="public" %>
<ul id="project_list">
  <%i=1%>
  <% @project.submissions.each do |submission|%>
  <li>
    <div class="logo_header"><span class="float_right"><a href="<%=submission_comments_path(submission)%>"><b><%=i%></b></a></span><span class="float_left">
      <a href="<%=submission_comments_path(submission)%>"><b><%= submission.comments.size %>&nbsp;</b>Comments</span></a>
    </div>
    <div class="logo_img"><a href="<%=submission.screenshot.url(:original,false)%>" rel="facebox">
      <%= image_tag submission.screenshot.url(:medium),:width=>"220",:height=>"150",:class=>"project_logo" %>
      <img src="/images/glass.png" class="magnify" /></a>
    </div>
    <div class="logo_footer">
      <span class="float_right" id="rating_block_<%=submission.id%>">
        <% if submission.rating == nil && @project.employer == current_employer %>
        <%= link_to "rate_it",submission_rating_path(submission,1),:class =>"rating" ,:remote=>'true',:method=>'put'%>
        <%= link_to "rate_it",submission_rating_path(submission,2),:class =>"rating" ,:remote=>'true',:method=>'put'%>
        <%= link_to "rate_it",submission_rating_path(submission,3),:class =>"rating" ,:remote=>'true',:method=>'put'%>
        <%= link_to "rate_it",submission_rating_path(submission,4),:class =>"rating" ,:remote=>'true',:method=>'put'%>
        <%= link_to "rate_it",submission_rating_path(submission,5),:class =>"rating" ,:remote=>'true',:method=>'put'%>
        <% elsif submission.rating != nil %>
        <% for i in 1..submission.rating %>
        <img src="/images/star-active.png">
        <%end%>
        <% for i in 1..(5-submission.rating) %>
        <img src="/images/star-inactive.png">
        <%end%>
        <% else %>
        Not Rated Yet
        <% end %>
      </span>
      <span class="float_left"><%= submission.designer.username %> </span></div>
    </li>
    <% i=i+1 %>
    <% end %>

  </ul>
<% else %>
<p id="notice">This is a private project !</p>
<% end %>