<table id="project_table">
  <thead><tr>
    <th>Title</th>
    <th>Entries</th>
    <th>Budget</th>
    <th>Time Remaining</th>
  </tr></thead>

  <% @projects.each do |project| %>
  <tr>
    <td>
      <% if project.status == "Rewarded" %>
      <img src="/images/rewards_icon.png" height="32" width="24" />
      <% end %>
    <h3><%=link_to project.title,project_path(project),:title=>project.description.truncate(80),:class=>"project-info"%></h3>
    <p class="<%=project.project_type%>"><%=project.project_type%></p></td>
    <td><%= project.submissions.size%></td>
    <td><%= project.budget %></td>
    <td>
		  <% if project.status == "open" %>
				<%= distance_of_time_in_words(project.deadline,Time.now) %>
			<% else %>
				<%= project.status %>
			<% end %>
    </td>
  </tr>
  <% end %>
</table>

<br />

