<h2 class="float_left"> <%= @project.title %></h2>
<div class="clear"></div><br />
<h4 class="float_left">By:&nbsp;<%= @project.employer.username %></h4>
<div class="float_right deadline_right">
<% if get_project_state(@project) %>
<img src="/images/deadlineIcon.jpg" width="32" height="32" alt="deadline">
  <b> <%=distance_of_time_in_words(@project.deadline,Time.now) %> Left </b>
<% elsif @project.status == "Rewarded" %>
  <p id="notice" class="float_right">The logo for this project is already rewarded and the project is closed.</p>
<% else %>
  <p id="notice" class="float_right">The project is closed and waiting for reward.</p>
<% end %>
</div>
<div class="clear"></div>
<br />
<div class="project_info">
  <a href="#" class="button float_left" id="show_brief">Brief</a>
  <% if designer_signed_in? && get_project_state(@project) %>
  <div class="clear"></div>
  <h3>Submit Your Logo</h3>
  <div id="submit_logo">
    <%=form_for([@project, Submission.new],:html=>{ :multipart => true }) do |form| %>
    <%= form.file_field :screenshot %>
    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
  </div>
  <% end %>

  <div class="float_right vital_info">
    <table class="small">
      <tr><td><b>Total Entries</b></td><td><b>Reward</b></td></tr>
      <tr><td><%= @project.submissions.size %></td><td>  <%= @project.budget %></td></tr>
    </table>
  </div>
</div>
<div class="clear"></div>

<div id="briefing">
  <%=render "brief"%>
</div><!--briefing -->

<div class="clear"></div>

<% if @project.status=="Rewarded" %>
<h2>Rewarded Design:</h2>
<br />
<div id="project_files">
  <%@rewarded = @project.submissions.where(:approve=>true) %>
  <%@rewarded.each do |logo| %>
  <div id="original_holder">
    <%= image_tag logo.screenshot.url(:original),:class=>"rewarded_logo",:width=>"540" %>
    <img src="/images/rewarded.png" class="rewarded" height="80" width="80">
  </div><br />
  <h3>By:&nbsp;<%= logo.designer.username %></h3>
  <% end %>
</div>
<% end %>
<div class="clear"></div>

<h2>Submitted Designs:</h2>
<br />
<div id="project_files">
  <%=render "gallery"%>
</div>


<div class="clear"></div>
<hr />
<%= link_to 'Back', root_path %> 
<% if @project.employer == current_employer && @project.status == "open" %>
<%= link_to 'Edit', edit_project_path(@project) %> 
<% end %>

