<h2 class="float_left"> <%= @project.title %></h2>
<div class="float_right deadline_right">
<% if get_project_state(@project) %>
<img src="/images/deadlineIcon.jpg" width="32" height="32" alt="deadline">
<b> <%=distance_of_time_in_words(@project.deadline,Time.now) %></b>
<% else %>
<p id="notice" class="float_right">The logo for this project is already rewarded and the project is closed.</p>
<% end %>
</div>
<div class="clear"></div>
<br />
<div class="project_info">
  <a href="#" class="button float_left" id="show_brief">Brief</a>
  <% if get_project_state(@project) %>
  <% if designer_signed_in? %>
  <div id="submit_logo">
    <%=form_for([@project, Submission.new],:html=>{ :multipart => true }) do |form| %>
    <%= form.file_field :screenshot %>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  <% end %>
  <% end %>
  <% end %>

  <div class="float_right vital_info">
    <table class="small">
      <tr><td><b>Total Entries</b></td><td><b>Reward</b></td></tr>
      <tr><td><%= @project.submissions.size %></td><td>  <%= @project.budget %></td></tr>
    </table>
  </div>
</div>
<div class="clear"></div>

  <div id="briefing">
    <%=render "brief"%>
  </div><!--briefing -->

  <div class="clear"></div>

  <% if @project.status=="Rewarded"%>
   <h2>Rewarded Design Design:</h2>
  <br />
  <div id="project_files">
    <%@rewarded = @project.submissions.where(:approve=>true) %>
    <%@rewarded.each do |logo| %>
     <%= image_tag logo.screenshot.url(:medium),:class=>"rewarded_logo" %>
     <% end %>
  </div>
  <% end %>


  <h2>Submitted Designs:</h2>
  <br />
  <div id="project_files">
    <%=render "gallery"%>
  </div>


  <div class="clear"></div>
  <hr />
  <%= link_to 'Back', root_path %>

