<header><a href="<%=root_path%>"><%=image_tag("logo.png")%></a>
  <%if employer_signed_in? %>
    <%=render "layouts/employer_info_top"%>
  <% elsif designer_signed_in?%>
    <%=render "layouts/designer_info_top"%>
  <% end %>
</header>
<ul id="mainNav">
  <li><a href="<%=root_path %>" class="active">DASHBOARD</a></li> <!-- Use the "active" class for the active menu item  -->
    <li><a href="<%=projects_path %>" >ALL PROJECTS</a></li>
  <li><a href="#help" rel="facebox">HELP</a></li>

  <% if designer_signed_in? %>
    <li class="right_nav"><%= link_to "LOG OUT", destroy_designer_session_path, :method => 'delete' %>
  <% elsif employer_signed_in? %>
    <li class="right_nav"><%= link_to "LOG OUT", destroy_employer_session_path, :method => 'delete' %>
  <% else %>
    <li class="right_nav" id="login_show"><a href="#">LOG IN</a>
  <% end %>

  <ul id="login_ul">
  <li class="active">
  <h4>Employee Login</h4>
  <div class="form_login">
    <%= form_for(@resource ||= Employer.new, :as => :employer, :url => session_path(:employer),:name=>"employer_form") do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>
      <div><%= f.submit "Sign in",:id=>"employer_submit" %></div>
    <% end %>
    <%= link_to "Forgot your password?", new_password_path(Employer.new),:class=>"forgot" %><br />
  </div>
  </li>
  <li>
  <h4>Designer Login</h4>
  <div class="form_login">
    <%= form_for(@resource ||= Designer.new, :as => :designer, :url => session_path(:designer),:name=>"designer_form") do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>
      <div><%= f.submit "Sign in", :id=>"designer_submit"  %></div>
    <% end %>
    <%= link_to "Forgot your password?", new_password_path(Designer.new),:class=>"forgot" %>
  </div>
  </li>
  </ul>

  </li>
  <li class="right_nav" id="inbox_tab"><a href="<%=messages_path%>"><%=image_tag "inbox.png",:height=>'24',:width=>'24'%>
    <% if @message_number!=nil %><% if @message_number > 0 %> <b> <%=@message_number %> New Messages</b><% end %><% end %>
    </a></li>
</ul>

