<!DOCTYPE html>
<html>
<head>
  <title>Pickapic</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "/style/css/reset.css" %>
  <%= stylesheet_link_tag    "/style/css/layout.css" %>
  <%= stylesheet_link_tag    "/style/css/hack.css" %>
  <%= stylesheet_link_tag    "/style/css/facebox.css" %>
  <%= stylesheet_link_tag    "/style/css/jq_table.css" %>
  <%= stylesheet_link_tag    "/style/css/jNice.css" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">

    <%=render "layouts/header" %>

    <div id="containerHolder">
      <div id="container">
        <div id="main">

          <%if notice!=nil%>
          <p class="notice"><%= notice %></p><br />
          <%end%>
          <%if alert!=nil%>
          <p class="alert"><%= alert %></p><br />
          <%end%>

          <%=yield %>

    <%=render "layouts/footer" %>

  </div>
</body>
</html>

